@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./themes/dark.css');

:root {
  /* --shadow1color: rgb(0, 0, 0, 0.2);
  --shadow2color: rgba(0, 0, 0, 0.6);

  --color1: rgb(0, 0, 0);
  --color2: rgb(24, 24, 24);

  --shade1: rgb(80, 80, 90);
  --shade2: rgb(255, 255, 255);

  --shade1-transparent: rgba(80, 80, 90, 0.5);
  --shade2-transparent: rgba(255, 255, 255, 0.05);

  --color1trans: rgba(0, 0, 0, 0.5);
  --color2trans: rgba(30, 30, 40, 0.75);

  --accent1: rgb(145, 145, 233);
  --windowAccent: rgba(0, 0, 0, 0.726);

  --transparentBackground: rgba(0, 0, 0, 0.6);
  
  --startupBackground: black; */

  --titlebarpadding: 4px;
  --titlebarheight: 20px;
  --radius1: 8px;

  --startmenupadding: 8px;

  --taskbar-app-margin: 8px;
  --taskbarheight: 50px;
  --taskbarpadding: 8px;
  --taskbarbottommargin: 4px;

  --desktop-app-margin: 12px;

  --startmenubottommargin: 90px;
  --startmenuheight: 500px;
}

@keyframes startupLoad {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes startupAnim {

  0%,
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes windowOpen {
  0% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(32px);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes windowClose {
  0% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(32px);
  }
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  background-color: var(--color1);
  background-image: url("../img/background/Crystal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  width: 100vw;
  color: var(--color2);
  overflow: hidden;
  transition: backdrop-filter 0.5s ease, background-color 0.5s ease;
}

body.backgroundTransition {
  backdrop-filter: blur(12px) brightness(0.4) saturate(0);
}

* {
  font-family: inherit;
  color: inherit;
}

.startup {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background: var(--startupBackground);
  color: var(--color2);
  z-index: 9999999999999999999999;

  img {
    opacity: 0.5;
    position: absolute;
    object-fit: contain;
    width: 50vw;
    aspect-ratio: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;
  }

  h1 {
    position: absolute;
    transform: translateX(-50%);
    bottom: 5px;
    left: 50%;
    text-align: center;
    opacity: .5;
  }

  &.visible {
    opacity: 1;

    img {
      animation: starupLoad .5s ease-in-out infinite;
    }
  }
}

.appIcon {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  border-radius: var(--radius1);
  padding: 4px;
  border: none;
  outline: transparent;
  cursor: pointer;
  overflow: hidden;
  transition-property: background-color, box-shadow, outline;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;

  img {
    opacity: 1;
    filter: none;
    margin: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: 0.2s ease;
    border-radius: var(--radius1);
  }

  img.loading {
    opacity: 0.5;
    filter: blur(2px) brightness(1.5) saturate(0);
    -webkit-filter: blur(2px) brightness(1.5) saturate(0);
  }
}

.appIcon:hover {
  background-color: var(--transparentBackground);
  outline: 1px solid var(--shade1-transparent);
  box-shadow: 0 0 8px var(--shadow2color);

  img {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
  }
}

.largeAppIcon {
  width: 90px;
  height: 115px;

  img {
    height: 82px;
  }

  p {
    text-align: center;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 20%;
    text-shadow: 0 0 4px var(--shadow2color);
  }
}

.smallAppIcon {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: var(--radius1);
  width: 60px;
  height: 60px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.15s ease;
}

#desktop {
  position: absolute;
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - var(--desktop-app-margin));
  padding: 12px;
  width: 100vw;
  z-index: 0;

  button {
    margin-right: var(--desktop-app-margin);
    margin-bottom: var(--desktop-app-margin);
  }
}

#taskbar {
  display: inline-flex;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0 8px var(--shadow2color);
  min-width: 50px;
  max-width: 70vw;
  height: calc(var(--taskbarheight) + var(--taskbarpadding));
  position: fixed;
  bottom: var(--taskbarbottommargin);
  left: 50%;
  transform: translateX(-50%);
  padding: var(--taskbarpadding);
  background-color: var(--transparentBackground);
  border-radius: var(--radius1);
  border: 1px solid var(--color2trans);
  transition: 0.25s ease;
  z-index: 99999;
  overflow-x: auto;
  overflow-y: hidden;

  button {
    min-width: 60px;
  }

  button:not(:only-child):not(:last-child) {
    margin-right: var(--taskbar-app-margin);
  }

  #startButton {
    background-image: url("https://butterdogco.com/favicon.ico");
  }
}

#infoBar {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0 8px var(--shadow2color);
  min-width: 90px;
  height: calc(var(--taskbarheight) + var(--taskbarpadding));
  position: fixed;
  bottom: var(--taskbarbottommargin);
  right: var(--taskbarbottommargin);
  padding: var(--taskbarpadding);
  background-color: var(--transparentBackground);
  border: 1px solid var(--color2trans);
  border-radius: var(--radius1);
  transition: 0.2s ease;
  z-index: 999;

  #time {
    font-size: 16px;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
}

#startMenu {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0 8px var(--shadow2color);
  width: 460px;
  height: var(--startmenuheight);
  max-width: 80vw;
  max-height: 80vh;
  padding: var(--startmenupadding);
  background: var(--transparentBackground);
  border: 1px solid var(--color1trans);
  border-radius: var(--radius1);
  z-index: 999;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: var(--startmenubottommargin);
  opacity: 1;
  transition: 0.2s ease-out;
  overflow-x: hidden;
  overflow-y: auto;

  h1,
  h2,
  p {
    text-align: center;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    margin: 0;
  }

  hr {
    border-color: var(--shade2-transparent);
  }

  .appGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
  }
}

#startMenu.closed {
  bottom: calc(var(--startmenuheight) * -1);
  opacity: 0;
}

main {
  z-index: 2;
  position: absolute;

  .window {
    background-color: var(--transparentBackground);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 0 8px var(--shadow1color);
    z-index: 2;
    min-height: 300px;
    min-width: 300px;
    border-radius: var(--radius1);
    border: 2px solid var(--windowAccent);
    overflow: hidden;
    position: absolute;
    resize: both;
    animation: windowOpen 0.2s ease-out;

    .titleBar {
      width: 100vw;
      height: var(--titlebarheight);
      color: var(--color2);
      text-align: left;
      background: var(--windowAccent);
      padding: var(--titlebarpadding);
      cursor: grab;
      margin: 0;
      display: inline-flex;

      .titleBarIcon {
        height: calc(var(--titlebarheight));
        aspect-ratio: 1;
        object-fit: contain;
      }

      .titleBarText {
        font-size: 16px;
        margin: 0 0 0 4px;
      }

      .titleBarButtons {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-flex;

        .titleButton {
          background: transparent;
          height: calc(var(--titlebarheight) + var(--titlebarpadding) + var(--titlebarpadding));
          border: none;
          transition: 0.2s ease;
          cursor: pointer;
          margin: 0;
          width: 40px;
        }

        .titleButton:hover {
          background: var(--shade1);
        }

        .close:hover {
          background: red;
        }
      }
    }

    /* Issue with iframe sizing: it is the window width and height, not including the titlebar. This makes it display offscreen. */
    iframe {
      height: calc(100% - var(--titlebarpadding) - var(--titlebarheight));
      width: 100%;
      border: none;
      outline: none;
      margin: 0;
      background-color: transparent;
    }
  }

  .window.maximized {
    box-shadow: none;
    border-radius: 0;
  }
}

.hidden {
  display: none;
}